:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --accent-color: #005a9c; /* Bra kontrast mot vit */
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  letter-spacing: normal; 
  word-spacing: normal;
  max-width: 1200px;
  width: 100%;
  min-height: 100dvh;
  border-left: solid 1px darkblue;
  border-right: solid 1px darkblue;
}

.navigation {
  background-color: var(--accent-color);
  padding: 1rem;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation a {
  color: white;
  text-decoration: underline; /* Markera tydligt vad som är en länk */
  font-size: 1.5rem;
  font-weight: bold;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Definierar storleken på bilderna och gör att de täcker det angivna utrymmet utan att bli förvrängda  */
.image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#main-content {
  padding: 0 3rem;
}

.article {
  width: 80%;
  height:fit-content;
  margin: 0 auto 3rem;

}

.article h1 {
  text-align: center;
}
.article h2 {
  text-align: center;
}